@import url("https://fonts.googleapis.com/css?family=Roboto:100&display=swap");
body,
html {
  margin: 0;
  background-color: #f9f9f9;
  font-family: "Roboto", sans-serif;
}

.box {
  padding: 1em;
}

section {
  text-align: center;
  padding-top: 2em;
}
h1 {
  font-size: 1em;
}
.picked_color1,
.picked_color2,
.picked_color,
.picked_color3,
.picked_color4 {
  width: 100px;
  height: 100px;
  background-color: var(--color);
}

.picked_color {
  border-radius: 1px;
  outline: none;
  border-color: black;
  box-shadow: 1px 1px 5px black;
}

#picker {
  background-color: #f9f9f9;
  width: 30px;
  height: 30px;
}

input {
  cursor: default;
  border-width: 0;
  border-image: initial;
}

.grid_boxes {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 10px;
  padding: 5em;
}
