body,
html {
  margin: 0;
}

.box {
  padding: 1em;
}

h1 {
  font-size: 1em;
}
.picked_color1,
.picked_color2,
.picked_color,
.picked_color3,
.picked_color4 {
  width: 100px;
  height: 100px;
  background-color: var(--color);
}

#picker {
  padding-bottom: 1em;
}

input {
  cursor: default;
  border-width: 0;
  border-image: initial;
}

.grid_boxes {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 10px;
  padding: 5em;
}
